.example-block
  height: 427px
  width: 560px
  color: black
  position: absolute
  cursor: grab
  margin: 10px 10px 10px 10px

.canvas
  height: 500px
  background-color: #ccc

.process-bubble
  h2
    border: 1px solid #bfccd1
    background-color: #f2f8fa
    padding: 5px 10px
    font-size: 1.4em
    font-weight: bold
    margin: 0px