.example-block
  height: 410px
  width: 560px
  background-color: green
  color: black
  position: absolute
  cursor: grab
  margin: 10px 10px 10px 10px

.canvas
  height: 500px
  background-color: #ccc